@font-face { font-family: BrandFont; src: url('assets/Akira_Expanded_Demo.otf'); } 
@font-face { font-family: BrandFont; font-weight: bold; src: url(assets/Akira_Expanded_Demo.otf);}

body{
    background-color: rgb(44, 44, 44);
    max-width: 100%;
    overflow-x: hidden;
    text-align: center; 
    justify-content: center; 
    align-items: center;
    align-content: center;
    text-align: center;
}
.cartLabel{
  margin: auto;
}
.cartLabel2{
  margin: auto;
  color: #4b4fa8;
}

.topText{
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.prod{
    width: 100%;
    height:auto;
}
.imgA{ 
  width: 22%;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
.productLines{
    display: flex;
    align-items: center;
    text-align: center;
    margin:auto;
    align-content: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3rem;
}

.listingName{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  color: white;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
}

.buyingDiv{
    width: 90%;
    align-items: center;
    text-align: center;
    background-color: red;
    margin: auto;
}
.logoHolder{
  display: block;
    text-align: center; 
    align-items: center;
}
.brandLogo{
    width: 8%;
    margin-top: 2%;
}
.navElem{
    color:#4b4fa8; 
    text-decoration: none; 
    padding: 8px;
    font-family: BrandFont;
    font-size: 19px;
    font-size: 1vw;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(44, 44, 44);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: BrandFont;
    font-size: 19px;
    font-size: 1vw;
  }
  .dropdown1{
    position: relative; display: inline-block;
  }
  
.dropdown-content a:hover {background-color: #4e4e4e;}

.dropdown1:hover .dropdown-content {display: block;}

.dropdown1:hover .dropbtn {background-color: #3e8e41;}

.prodMain{
    display: flex; flex-direction: row; width: 100%; margin-top: 5%; 
}
.prodImg{
    width: 35%; margin: auto; margin-top: 0;
}
.prodDetails{
    display: flex; flex-direction: column; width: 40%; text-align: left; margin-right: auto;
}
h1{
    font-family: BrandFont;
    color: white;
    margin-top: 0;
    max-width: 80%;
}
.priceText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
}
.aboutText{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
}
.contactText{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    margin-right: 20%;
    margin-left: 20%;
}
.emailsHeader{
  max-width: 100%;
  width: 100%;
  text-align: center;
  
}
.buyNowBtn{
    font-family: BrandFont;
    color: white;
    font-size: large;
    width: 80%;
    background-color:#4b4fa8;
    height: 3rem;
    margin-bottom: 5%;
    cursor: pointer;
}
.detailText{
    color: white;
    font-size: smaller;
    
}



.container {
    display: none;
}

.navbar {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #4b4fa8;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #4b4fa8;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgb(255, 255, 255);
  background-color: white;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  font-family: BrandFont;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;

}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.thumbnails{
  width: 20%;
  cursor: pointer;
}
.sizing-container input[type="checkbox"]:checked ~ .menu-items1{
  display: block;
}
.menu-items1{
  display: none;
  text-decoration: none;
}
.sizing-container{
  width: 100%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sizing-txt{
  font-family: BrandFont;
  position: absolute;
}
.sizing-li{
  text-decoration: none;
  list-style-type: none;
}
.checkbox1 {
  display: block;
  position:sticky;
  height: 50px;
  width: 130px;
  opacity: 0;
  cursor: pointer;
  background-color: #4b4fa8;
}
.sizing-dropdownmenu p:hover {
  background-color: #f0f0f0;
}
.colorOptions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.colorOptions input[type="radio"] {
  display: none;
}

.colorOptions label {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 16px;
  font-family: BrandFont;
  border-radius: 4px;
  cursor: pointer;
}

.colorOptions label:hover {
  background-color: #f0f0f0;
}

.colorOptions input[type="radio"]:checked + label {
  background-color: #333;
  color: #fff;
  border-color: #ffffff;
}


.sizingKlay{
  display: none;
  max-width: 90%;
}

.sizingBtnKlay{
  width: 80%;
  height: 3rem;
  background-color: #333;
  border: none;
  font-family: BrandFont;
  color: white;
  font-size: large;
  text-align: left;
}

.sizeChartDivKlay button:hover{
  cursor: pointer;
}

.cart{
  width: 30px;
  filter: invert(1);
}

.cartTotal{
  justify-content: center;
  margin-left: 10px;
  margin-right: 50px;
  font-family: BrandFont;
  color: white;
}
.cartContainer{
  display: flex; 
  flex-direction: row; 
  text-align: center; 
  justify-content: center; 
  align-items: center;

  margin-left: auto;
  margin-left: 60%;
}

.cartOutsideContainer{
  text-align: center; 
  align-items: center; 
  align-content: center; 
  justify-content: center; 
  display:block; 
  
  margin-top: 20px; 

  width: 100%;
}
.cartRow{
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 

  width: 100%;
  border-width: 1px; 
  border-color: black; 
  border-style: solid;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
  box-shadow: 0px 0px 6px rgba(0,0,0,.5);
  border-radius: 10px;

  margin-bottom: 10px;
}

.cartImg{
  width: 10%; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 5%;
}
.cartItemName{
  padding-left: 10%; 
  padding-right: 10%; 
  color: white; 
  font-family: BrandFont; 
  width: 30%;
}
.cartPrice{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  color: white; width: 10%;
}
.cartRemoveBtn{
  all: unset; 
  text-decoration: none;
  background: rgb(44, 44, 44); 
  font-family: BrandFont; 
  margin-left: 10px; 
  cursor: pointer; 
  font-size: small; 
  color: #4b4fa8; 
  margin-right: 5%;
}

.checkoutBtn{
  font-family: BrandFont;
  color: white;
  font-size: small;
  width: 10rem;
  margin-left: 40%;
  background-color:#4b4fa8;
  height: 3rem;
  margin-bottom: 5%;
  cursor: pointer;
}


#loadingAnimation {
  display: none; 
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-family: BrandFont;
  font-weight: bold;
  color: white;
  background-color: #4b4fa8;
  border: 1px solid black;
 
  margin-left: 20px;
  
  margin-right: 20px;
 
}


.dropdownSize {
  position: relative;
  display: inline-block;
  margin-bottom: 5%;
  width: 80%;
  
}

.dropbtn {
  background-color: white;
  color: #000;
  
  font-size: 16px;
  border: none;
  cursor: pointer;
 
  width: 100%;
  font-family: BrandFont;
  height: 3rem;
}

.dropdownSize-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdownSize-content a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-family: BrandFont;
}

.dropdownSize-content a:hover {
  background-color: #f1f1f1;
}

.dropdownSize:hover .dropdownSize-content {
  display: block;
}

.dropdownSize:hover .dropbtn {
  background-color: #f1f1f1;
}
.dev{
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loadingAnimation::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 3px solid white;
  border-top-color: #4b4fa8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}



.chat-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.chat-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4b4fa8;
  border: none;
  outline: none;
  cursor: pointer;
  
   background-image: url('imgs/chat.png'); 
    
   background-size: 50%;
   background-position: center;
   background-repeat: no-repeat;
}

.chat-menu {
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 250px;
  max-height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.chat-button-container.active .chat-menu {
  display: block;
}

.chat-box {
  max-height: 300px;
  overflow-y: auto; 
}

.message {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 10px;
}

.message p {
  background-color: #4b4fa8;
  color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  margin: 0;
}
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.contact-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #4b4fa8;
  font-family: BrandFont;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  box-sizing: border-box; 
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #4b4fa8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: BrandFont;
}

.contact-form button:hover {
  background-color: #333;
}

.site-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.site-footer p {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.foContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.footer-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer-tab {
  flex: 1;
  padding: 10px;
}

.footer-tab h3 {
  color: #4b4fa8;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-tab ul {
  list-style: none;
  padding: 0;
}

.footer-tab ul li {
  margin-bottom: 5px;
}

.footer-tab a {
  color: #333;
  text-decoration: none;
}

.footer-tab a:hover {
  text-decoration: underline;
}
.extraSpacing{
  margin-bottom: 40rem;
}



@media (max-width: 500px){
    .buyingDiv{
        background-color: blue;
        margin: auto;
        width: 90%;
    }
    .brandLogo{
        width: 20%;
        margin-top: 2%;
    }
    .navElem{
        font-size: 7px;
        font-size: 1.5vw;
    }
    .prodMain{
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }
    .prodDetails{
        width: 100%;
        padding-left: 5%;
    }
    .buyNowBtn{
        width: 90%;
    }
    .sizingBtnKlay{
      width: 90%;
    }
    .prodImg{
        width: 90%;
    }

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
        display: block;
      }
      
      .navbar {
        width: 100%;
        display: block;
      }
      .navBar{
        display: none;
      }
      .productLines{
        flex-wrap:wrap;
        width: 90%;
        margin-bottom: 0%;
      }
      .imgA{
        width:48%;
        margin-bottom: 10%;
      }
      .cartImg{
        width: 20%; 
        margin-top: 20px; 
        margin-bottom: 20px; 
        margin-left: 2%;
      }
      .cartItemName{
        padding-left: 5%; 
        padding-right: 5%; 
        color: #4b4fa8; 
        font-family: BrandFont; 
        width: 30%;
      }
      .cartRemoveBtn{
        margin-right: 2%;
      }
      .cartItemName{
        font-size: small;
      }
      .dropdownSize{
        width: 90%;
      }
      
      
}